body{
    background-color:rosybrown;
}
img{
    width:12;
    height:12;
    border-radius: 50%;
    border:2px solid #ccc;
    padding:10px;
    filter:drop-shadow(10px 7px 12px blue)
}
.surya_1{
    float: right;
    margin: 50px;
}
.surya2{
    float: right;
    margin:50px;
    height: 12%;
}